@import "tailwindcss";

@layer base {
  body {
    background-color: #FAFAF9;
    color: #111827;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #FAFAF9;
}

::-webkit-scrollbar-thumb {
  background: #E5E7EB;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #D1D5DB;
}
